{% extends 'base.html' %}
{% block title %}
Completed Tasks Page
{% endblock %}

{% block content %}

<div class="container text-center mt-2">
    {% if tasks %}
    <h3 class="mb-3">Completed Tasks</h3>
    
    {% for task in tasks %}
    <div class="card mb-3">
        <div class="card-body">
            <h4>{{ task.task_name }}</h4>
            <h5 class="text-success">Status : {{ task.task_status }} / Completed</h5>
            <h5 class="">Priority : {{ task.task_priority }}</h5>
            <h5 class="">Added On : {{ task.task_added_at }}</h5>
        </div>
    </div>
    {% endfor %}
    <a href="{% url 'task-list' %}" class="btn btn-primary">Return to Tasks List Page</a>

    {% else %}
    <h4>Atleast Complete One Task to View.</h4>
    <a href="{% url 'task-list' %}" class="btn btn-primary">Return to Tasks List Page</a>
    {% endif %}

</div>

{% endblock content %}