{% extends 'base.html' %}

{% block title %}
Task List Page
{% endblock %}

{% block content %}
<div class="container text-center">
    <h4>{{ user.username }} Task List Page</h4>
    <form method="get" class="row g-2 mb-4">
        <div class="col-md-2">{{ filter_form.task_name }}</div>
        <div class="col-md-2">{{ filter_form.task_status }}</div>
        <div class="col-md-2">{{ filter_form.task_priority }}</div>
        <div class="col-md-2">{{ filter_form.task_description }}</div>
        <div class="col-md-2">{{ filter_form.task_added_at }}</div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Filter</button>
            <a href="{% url 'task-list' %}" class="btn btn-secondary">Reset</a>
        </div>
    </form>

    {% for task in tasks %}
    <tr>
        <td class="text-success">{{ task.task_name }}</td>
        <td class="text-success">{{ task.get_task_priority_display }}</td>
        <td class="text-success">{{ task.get_task_status_display }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No tasks match your filters.</td>
    </tr>
    {% endfor %}

    <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover">
            <thead class="table table-primary">
                <tr>
                    <th scope="col">TASK NUMBER</th>
                    <th scope="col">TASK NAME</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">TASK PRIORITY</th>
                    <th scope="col">TASK STATUS</th>
                    <th scope="col">TASK ADDED ON</th>
                    <th scope="col">UPDATE TASK</th>
                    <th scope="col">DELETE TASK</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for task in tasks %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ task.task_name }}</td>
                    <td>{{ task.task_description }}</td>
                    <td>{{ task.task_priority }}</td>
                    <td>{{ task.get_task_status_display }}</td>
                    <td>{{ task.task_added_at }}</td>
                    <div class="ms-3">
                        <td>
                            <a href="{% url 'task-update' task.pk %}" class="btn btn-success">Task Update Button</a>
                        </td>
                    </div>
                    <td>
                        <a href="{% url 'task-delete' task.pk %}" class="btn btn-danger">Task Delete Button</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}

        </table>
    </div>
    <a href="{% url 'task-create' %}" class="btn btn-primary mt-2">Add Task</a>
    <a href="{% url 'home' %}" class="btn btn-info mt-2">Home Page</a>
    <a href="{% url 'logout' %}" class="btn btn-danger mt-2">Logout</a>
</div>

{% endblock content %}